// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar a,
.sec-about p {
    text-align: center;
}

.navbar a {
    font-size: 16px;
}

.navbar .fa-external-link {
    font-size: 10px;
}

