#slideout {
  position: fixed;
  z-index: 999;
  top: 100px;
  left: -450px;
  width: 30px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  /*left: 0px;*/
}

#slideout_tab {
  font-size: 24px;
  line-height: 30px;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  position: relative;
  top: 0px;
  left: 450px;
  padding: 10px;
  text-align: center;
  background: #8c8c8c;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

#slideout_inner {
  color: white;
  position: absolute;
  top: -50px;
  left: 0;
  background: #8c8c8c;
  width: 450px;
  padding: 15px;
  height: 500px;
  cursor: auto;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

#showblock:checked + #slideout {
  left: 0;
}

#showblock {
  display: none;
}

